* {
    box-sizing: border-box;
}

html {
    --blue: #274C77;

    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}

.cont {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.hdr {
    padding: 0.5rem;
    background-color: #333333;
    box-shadow: 0 0.5rem 0.25rem -0.25rem rgba(0,0,0,0.2);
    position: relative;
    z-index: 100;
}
.hdr .cont {
    display: flex;
    align-items: center;
}
.hdr .brand {
    display: flex;
}
.hdr .brand img {
    height: 35px;
    width: 147px;
}

.jmbt {
    padding: 4rem 0.5rem;
    background-color: #f0f0f0;
    min-height: calc(100vh - 500px);
    margin-bottom: 20rem;
}
.jmbt .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jmbt .logo h1 {
    font: inherit;
    margin: 0;
}
.jmbt .logo img {
    height: 100px;
    width: 420px;
    margin-top: 2rem;
}
.jmbt .claim {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: #333333;
    margin-bottom: 1.5rem;
}
.jmbt .actions {
    margin-bottom: 2rem;
    display: flex;
}
.jmbt .actions .btn {
    padding: 0.75rem 0.5rem;
    color: var(--blue);
    background-color: white;
    border: 2px solid var(--blue);
    margin: 0 0.5rem;
    text-decoration: none;
    border-radius: 5px;
}
.jmbt .actions .btn:hover {
    background-color: var(--blue);
    color: white;
}
.jmbt .preview img {
    max-width: 823px;
    height: auto;
    box-shadow: 0 2rem 5rem -1rem rgba(0,0,0,0.8);
    border-radius: 20px;
    border: 10px solid #222;
    border-bottom-width: 30px;
    margin-bottom: -15rem;
}

.card {
    margin-top: -5rem;
    padding: 2rem 0.5rem;
}

.card h2 {
    font-size: 2.5rem;
    color: var(--blue);
}

.card p {
    font-size: 18px;
    line-height: 1.5;
}
